@use '../variables';

.btn {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 16px;
    white-space: nowrap;
    

    &--primary{
        color: variables.$textColor;
        background-color: variables.$btnColor;
        transition: background-color 1s;

        &:hover {
            background-color: darken(variables.$btnColorHouver, 5%);
        }
    }
}