@use '../variables';

.infos {
    display: flex;
    padding: 16px 24px;
   
    justify-content: space-around;
    
    &__list {
        display: flex;
        gap: 90px;
        
        &__item{
            

            b {
                display: block;
            }
            margin-bottom: 24px;
        }

    }

    @media (max-width: 640px){
        display: block;
        
        &__list{
            display: block;
        }
    }


}
