
.event{
    display: flex;

    &__details {
        padding: 40px;
    }

    &--appertizers {

    }

    &--baralho {

    }
    
    &--band {
        
    }
    
    &--pool {
        
    }

    
    &__img {
        padding: 20px 0;
        max-width: 300px;
        width: 100%;
    }
   
    
}

