// cor de fundo
$bgColor: rgba(0,0,0,0.6);
$textColor: #f9f9f9;


// gradiente
$greenLight: #82ccdd;
$green: #079992;
$greenPool:#60a3bc;
$blue: #0a3d62;
$black: #384154;

// botões
$btnColor: #ffa502;
$btnColorSecond: #17c0eb;