<<<<<<< HEAD
@use 'variables';
@use 'hero';
@use 'event';
@use './components/infos';
@use './components/button';
@use 'footer';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    color: variables.$textColor;
    list-style: none;

}

.text--bigger{
    font-size: 2.9em;
}

.text{
    font-size: 1.5em;
 
}

.text--smaller{
    font-size: 1.2em;
    
}
.container {

    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;  
        color: variables.$textColor; 
        
        &:first-child {
            font-size: 24px;
        }
    }

   
}
=======
body {
    background-color: yellow;
}
>>>>>>> 8c29baa (Chore: initial configuration)
